<nav>
	<ul class="pagination" th:with="start=${T(Math).floor(bookList.number/10)*10+1},
	last=(${start+9 < bookList.totalPages ? start+9:bookList.totalPages == 0 ? 1 : bookList.totalPages })">
		<li class="page-item">
		<a th:href="@{/book/pagelist(page=1)}" class="page-link">처음</a>
		</li>
		
		<!-- 앞으로 -->
		<li class="page-item" th:class="${bookList.first} ? 'page-item disabled':'page-item' ">
		<a th:href="${bookList.first}? '#' : @{/book/pagelist(page=${bookList.number})}" class="page-link">&lt;</a>
		</li>
		
		<!-- page list -->
		<li class="page-item" th:each="page:${#numbers.sequence(start,last)}" 
		th:class="${page==bookList.number+1} ? 'page-item active' : 'page-item' ">
		<a th:href="@{/book/pagelist(page=${page})}" th:text="${page}" class="page-link">pageNum</a>
		</li>
		
		<li class="page-item" th:class="${bookList.last} ? 'page-item disabled':'page-item' ">
		<a th:href="${bookList.last}? '#' : @{/book/pagelist(page=${bookList.number+2})}" class="page-link">&gt;</a>
		</li>
		
		<li class="page-item">
		<a th:href="@{/book/pagelist(page=${bookList.totalPages})}" class="page-link">끝</a>
		</li>
	</ul>
</nav>